ZKS1.aux
ZKS1.bcf
ZKS1.log
ZKS1.out
ZKS1.pdf
ZKS1.run.xml
ZKS1.synctex.gz
ZKS1.toc
ZKS1new.aux
ZKS1new.bcf
ZKS1new.log
ZKS1new.out
ZKS1new.run.xml
ZKS1new.synctex.gz
ZKS1new.toc
ZKS1new.pdf
ZKS2.aux
ZKS2.bcf
ZKS2.log
ZKS2.out
ZKS2.pdf
ZKS2.run.xml
ZKS2.synctex.gz
ZKS2.toc
ZKS3.aux
ZKS3.bcf
ZKS3.log
ZKS3.out
ZKS3.pdf
ZKS3.run.xml
ZKS3.synctex.gz
ZKS3.toc
ZKS5.aux
ZKS5.bcf
ZKS5.log
ZKS5.out
ZKS5.pdf
ZKS5.run.xml
ZKS5.synctex.gz
ZKS5.toc
